@font-face{
    font-family: "SourceSansPro";
    font-weight: normal;
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: "SourceSansPro";
    font-weight: bold;
    src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

.puzzle-icon{
    display: inline-block;
    background: transparent url("../images/puzzle-icon-white.png") no-repeat center;
    background-size: 100% 100%;
    width:50px;
    height:50px;
}

html{
    min-height:100%;
    background: transparent url("../images/lightwood.png") repeat;
}

html, body{
    height:100%;
    font-size: 1em;
    font-family: "SourceSansPro", Verdana, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #0a0a0a;
}

a{
    color: #F07818;
}

a:hover{
    color: #f3bb5d;
}

form {
  text-align: center;
}

#home-form{
    margin: 0 auto;
    width: 30%;
}

.textInput{
  display: block;
  margin: 10px auto;
  width: 80%;
  border-radius: 5px;
  border: 3px solid #78C0A8;
  box-shadow: 0 0 4px grey;

  color: black;
  text-align: center;
}

.button{
    margin: 0 .15em;
    padding: .3em .75em;
    border-radius: 4px;
    border: 1px solid transparent;
    border-top: 1px solid #f49f5c;
    border-bottom: 1px solid grey;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1.1em;
    
    background-color: #F0A830;
    color:white;
    text-shadow: 0 -1px #ccc;
    box-shadow: 0 0 4px grey;
}

.button:hover{
    cursor:pointer;
    background-color: #f3bb5d;
    border-top: 1px solid #f2b753;
}

.page-wrapper{
    margin:0 auto;
    padding: 0;
    width:85%;
    min-width:320px;
}

/* HEADER STYLE */

#site-header{
    position: relative;
    padding: .7em;
    text-align:center;
    
    background-color: #78C0A8;
    color: white;
    text-shadow: 0 1px #4ca386;
    box-shadow: 0 1px 4px grey;
}

#site-header a{
    overflow:auto;
    color:white;
    text-decoration:none;
}

#site-header a:hover hgroup{
    background-color: rgba(255,255,255,.5);
}


#site-header .page-wrapper{
    position:relative;
}

#site-header figure{
    vertical-align: middle;
    margin-right: .5em;
}

#site-header h1{
    font-size: 2em;
    margin: .5em 0;
    display:inline-block;
    
    font-weight:bold;
}

#site-header .toolbar{
    position:absolute; /* fake float, since the project restricts this */
    top:0;
    right: 0;
    text-align:right;
}


#site-header.small{
    text-align:left;
}

#site-header.small hgroup{
    display: inline-block;
}

#site-header.small .puzzle-icon{
    width: 30px;
    height: 30px;
}

#site-header.small figure{
    vertical-align: baseline;
}

#site-header.small h1{
    margin:0;
}

#main-wrapper{
    padding-top: 2em;
}

/* CONTENT STYLE */

#content-area{
    position: relative;
    padding: 1em;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #8e6247;
    
    box-shadow: 0 1px 4px grey;
    margin-bottom: 2em;
}

#content-header{
    padding: .75em .5em;
    margin-bottom: .75em;
    background-color: #eee;
}

#content-header h1{
    margin: .1em 0;
    font-size: 2.5em;
    font-weight:bold;
    text-align: center;
    line-height: 1em;
}

#content-header h2 {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
}

#canvas-wrapper{
    position:relative;
    text-align: center;
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#map-canvas{
    display:none;
    margin:0;
    padding:0;
    height: 100px;
    border-radius: 4px;
    background: #FCEBB6 url("../images/roughcloth.png") repeat;
    
    border: 1px solid #815940;
}

#canvas-wrapper img{
    padding: 35px 0;
}

/* CLUE TABLE */

#clue-area{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    max-height: 200px;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
}

#clue-area header{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .25em;
    text-align: center;
}

#clues{
    width:100%;
}

#clues .clue-num{
    width: 3%;
}

#clues td.clue-num{
    background-color: #dff0ea;
}

#clues .clue-desc{
    width: 50%;
}

#clues .clue-ans{
    width: 40%;
}



/* SCORE BOARD */

#score-board-area{
    width: 95%;
    margin: 0 auto;
    max-height: 200px;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
}

#score-board-area header{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .25em;
    text-align: center;
}

#score-board-area header.lite{
    font-weight: normal;
    font-size: 1.2em;
    text-align:left;
}

#score-board{
    width:100%;
}

#score-board th,
#score-board td{
    width: 30%;
}

#score-board .entry-ranking{
    width: 3%;
}

#score-board td.entry-ranking{
    background-color: #dff0ea;
}

.dropdown {
  display: none;
  padding: 1px;
}

.left-sidebar{
  display:inline-block;
  width: 70%;
  vertical-align:top;
}

.right-sidebar {
  vertical-align:top;
  text-align: center;
  display: inline-block;
  width: 20%;
  margin: 5px;
  padding: 20px;

  border: 5px solid #78C0A8;
  border-radius: 5px;
  box-shadow: 0 0 4px grey;
  background-color: #d5f0ec;
}

.right-sidebar > .button {
  margin-bottom: 50px;
}

th{
    font-weight: bold;
    background-color: #9acfbd;
}

td{
    background-color: #f9f7f5;
    width: 30%;
}

th,td{
    border: 1px solid #e5e5e5;
    padding: .5em;
    text-align:center;
}

tr:nth-child(odd) td{
    background-color: white;
}

#clues-team-view{
    margin: 0;
    padding: .3em;
    width: 100%;
    line-height: 1.3em;
}

footer{
    margin-top: 1em;
    font-size: .9em;
    text-align: center;
}
