.puzzle-icon{
    display: inline-block;
    background: transparent url("../images/puzzle-icon-white.png") no-repeat center;
    background-size: 100% 100%;
    width:50px;
    height:50px;
}

html{
    min-height:100%;
    background: transparent url("../images/lightwood.png") repeat;
}

html, body{
    height:100%;
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

a{
    color: #F07818;
}

.page-wrapper{
    margin:0 auto;
    padding: 0;
    width:85%;
    min-width:320px;
}

#site-header{
    padding: .7em;
    text-align:center;
    
    background-color: #78C0A8;
    color: white;
    text-shadow: 0 1px #4ca386;
    box-shadow: 0 1px 4px grey;
}

#site-header figure{
    vertical-align: middle;
    margin-right: .5em;
}

#site-header h1{
    font-size: 2em;
    margin: .5em 0;
    display:inline-block;
    
    font-weight:bold;
}

#main-wrapper{
    padding-top: 2em;
}

#content-area{
    padding: 2em;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #8e6247;
    
    box-shadow: 0 1px 4px grey;
}

footer{
    margin-top: 5em;
    font-size: .7em;
    text-align: center;
}